### Feature Proprocessing

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
store = pd.read_csv('store.csv')
train = pd.read_csv('train.csv')

C:\Users\Zhen Xuan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [67]:
## converting dates into year, month, day and additional feature week of the year
def date_convert(df):
    df['Date']  = pd.to_datetime(df['Date'], errors='coerce')
    df['Year']  = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day
    df['WeekOfYear'] = df['Date'].dt.weekofyear
    return df

## adjust and standardise the mappings for all the categorical variables.
def mapping_encoding(df):
    mappings = {'0': 0, 'a': 1, 'b': 2, 'c': 3, 'd': 4}
    ## replace with values so they can be one hot encoded
    df.StoreType.replace(mappings, inplace=True)
    df.Assortment.replace(mappings, inplace=True)
    df.StateHoliday.replace(mappings, inplace=True)
    
    df['StateHoliday'] = LabelEncoder().fit_transform(df['StateHoliday'])
    df['Assortment']   = LabelEncoder().fit_transform(df['Assortment'])
    df['StoreType']    = LabelEncoder().fit_transform(df['StoreType'])
    return df

In [68]:
## removed 0 sales because they are not used in grading
train = train[train.Sales != 0]

## fill the N.A.N values
store = store.fillna(0)

## combine all features together
df = train.merge(store, on='Store')

## label encode the categories into numbers
df = mapping_encoding(date_convert(df))

In [69]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,WeekOfYear
0,1,5,2015-07-31,5263,555,1,1,0,1,2015,...,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0,31
1,1,4,2015-07-30,5020,546,1,1,0,1,2015,...,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0,31
2,1,3,2015-07-29,4782,523,1,1,0,1,2015,...,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0,31
3,1,2,2015-07-28,5011,560,1,1,0,1,2015,...,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0,31
4,1,1,2015-07-27,6102,612,1,1,0,1,2015,...,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0,31

References:
- https://datascience.stackexchange.com/questions/9777/one-hot-vector-representation-vs-label-encoding-for-categorical-variables
- https://datascience.stackexchange.com/questions/9443/when-to-use-one-hot-encoding-vs-labelencoder-vs-dictvectorizor